@tailwind base;
@tailwind components;
@tailwind utilities;

/* 隱藏捲軸但保留功能 */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* 確保 iOS 底部安全距離 */
.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}